<header id="header">
  <div class="container">
    {%if aboutme %}
    <h1><a href="{% url 'homepage' %}"> {{aboutme.name}} </a></h1>
    {% else %}
    <h1><a href="index.html"> Name not entry </a></h1>
    {%endif%}
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    {%if aboutme %}
    <h2>I'm a passionate <span>{{aboutme.designation}}</span> from {{aboutme.city}}</h2>
    {% else %}
    <h2>I'm a passionate <span>graphic designer</span> from New York</h2>
    {%endif%}

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="#header">Home</a></li>
        <li><a class="nav-link" href="#about">About</a></li>
        <li><a class="nav-link" href="#resume">Resume</a></li>
        <li><a class="nav-link" href="#services">Services</a></li>
        <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    {%if aboutme %}
    <div class="social-links">
      <a href="{{aboutme.twitter_link}}"  target="_blank" class="twitter"><i class="bi bi-twitter" ></i></a>
      <a href="{{aboutme.faceboock_link}}" target="_blank" class="facebook"><i class="bi bi-facebook" ></i></a>
      <a href="{{aboutme.instagram_link}}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="{{aboutme.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
    {% else %}
    <div class="social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i>link not provide</a>
    </div>
    {%endif%}
    

  </div>
</header>
